@import "../../../../mixins/_responsive";

.footer {
  padding: 3em 0;
  a {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    @include mobile() {
      font-size: 1em;
    }
  }
  svg {
    margin: .5em;
  }
}

.social-links {
  max-width: 290px;
  display: flex;
  margin: 0 auto 2rem;
  ::ng-deep .tech-container {
    width: 90px !important;
    height: 90px;
  }
}
