@import "../../../mixins/_responsive.scss";

.example {
  padding-bottom: 6rem;
  padding-top: 2rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .06);

  &:first-of-type {
    padding-top: 0;
    border-top: 1px solid #eee;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .06), 0 -5px 15px rgba(0, 0, 0, .02);
  }
}

.slide-title,
h3 {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    margin-right: .5em;
  }
}

.slide-title {
  padding: 2rem 0;
  color: var(--primary);
  font-size: 2em;

  @include mobile {
    font-size: 1.2em;
  }

  svg {
    fill: var(--primary);
  }
}

.favela {
  h1 {
    font-family: 'Great Vibes', cursive;
  }

  img {
    filter: saturate(2) brightness(1.2);
  }
}

.social-links {
  max-width: 320px;
  display: flex;
  margin: 1rem auto;

  .tech-container {
    width: 90px !important;
    height: 90px;
  }
}
