.app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--main-color);
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  .footer-container {
    margin-top: auto;
  }
}
