@use "../../../../mixins/responsive" as *;

#nav {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  @include mobile() {
    flex-direction: column;
  }

  a {
    padding: 1rem 1.5rem 1rem 1rem;
    margin: 0.5rem;
    border: 2px solid #eee;
    color: var(--main-color);
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: .3s all;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .06), 0 0 0 2px #fff;

    @include mobile() {
      width: calc(100% - 60px);
    }

    &.active {
      background: #fff;
      border: 2px solid var(--primary);
      color: var(--primary);

      svg {
        fill: var(--primary);
      }
    }

    svg {
      width: 25px;
      margin-right: 0.5rem;
      outline: none;
      fill: var(--main-color);
    }
  }
}
